<!DOCTYPE html>
<html lang="en">
    <head>
        {% block css %}
            <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css"/>
            <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css"/>
        {% endblock %}
    </head>
    <body>
        <ul class='menu'>
            {% for beer in object %}
                <li>
                </li>
            {% endfor %}
        </ul>



        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
    </body>
</html>