body {

    background-image:   url('../images/FFBWeb.jpg');
    background-size: cover;
    padding: 125px 25px 0px 15px;
    margin: auto;
    width: auto;
    height: auto;
}

.menu {
    list-style-type: none;
}

.menu li {

    font-size: 50px;
    color: #FFF;
    height: 55px;
    padding-top: 20px;
    margin-bottom: 23px;
}

.name {
    float:left;
}

.price {
    float: right;
}