body {

    background-image: url('../images/FFBWeb2.jpg');
    background-size: 100% auto;
    padding: 125px 25px 0px 15px;
    margin: auto;
    width: auto;
    height: auto;
}

.menu {
    list-style-type: none;
}

.menu li {

    font-size: 32px;
    color: #FFF;
    height: 40px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, .5);
}

.name {
    float:left;
}

.price {
    float: right;
}